<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Ok Eclipse"
            id="edu.ncstate.csc510.okeclipse.commands.category">
      </category>
      <command
            name="Ok Eclipse"
            categoryId="edu.ncstate.csc510.okeclipse.commands.category"
            id="edu.ncstate.csc510.okeclipse.commands.okEclipseCommand">
      </command>
      <command
            categoryId="edu.ncstate.csc510.okeclipse.commands.category"
            id="edu.ncstate.csc510.okeclipse.analyzeconsole"
            name="help">
      </command>
      <command
            categoryId="edu.ncstate.csc510.okeclipse.commands.category"
            id="edu.ncstate.csc510.okeclipse.injectcode"
            name="Inject code">
      </command>
      <command
            categoryId="edu.ncstate.csc510.okeclipse.commands.category"
            id="edu.ncstate.csc510.okeclipse.injectmain"
            name="main">
      </command>
      <command
            categoryId="edu.ncstate.csc510.okeclipse.commands.category"
            id="edu.ncstate.csc510.okeclipse.injectinterface"
            name="interface">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="edu.ncstate.csc510.okeclipse.commands.okEclipseCommand"
            class="edu.ncstate.csc510.okeclipse.handlers.SpeechHandler">
      </handler>
      <handler
            class="edu.ncstate.csc510.okeclipse.handlers.AnalyzeConsoleHandler"
            commandId="edu.ncstate.csc510.okeclipse.analyzeconsole">
      </handler>
      <handler
            class="edu.ncstate.csc510.okeclipse.handlers.InjectCodeHandler"
            commandId="edu.ncstate.csc510.okeclipse.injectcode">
      </handler>
      <handler
            class="edu.ncstate.csc510.okeclipse.handlers.InjectMainHandler"
            commandId="edu.ncstate.csc510.okeclipse.injectmain">
      </handler>
      <handler
            class="edu.ncstate.csc510.okeclipse.handlers.InjectInterfaceHandler"
            commandId="edu.ncstate.csc510.okeclipse.injectinterface">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="edu.ncstate.csc510.okeclipse.commands.okEclipseCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M2+Z"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="edu.ncstate.csc510.okeclipse.analyzeconsole"
            sequence="M2+X"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="edu.ncstate.csc510.okeclipse.injectcode"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+C">
      </key>
      <key
            commandId="edu.ncstate.csc510.okeclipse.analyzeconsole"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+C">
      </key>
      <key
            commandId="edu.ncstate.csc510.okeclipse.injectmain"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+B">
      </key>
      <key
            commandId="edu.ncstate.csc510.okeclipse.injectinterface"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+N">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Ok Eclipse"
               mnemonic="M"
               id="edu.ncstate.csc510.okeclipse.menus.sampleMenu">
            <command
                  commandId="edu.ncstate.csc510.okeclipse.commands.okEclipseCommand"
                  mnemonic="S"
                  id="edu.ncstate.csc510.okeclipse.menus.okEclipseCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="edu.ncstate.csc510.okeclipse.toolbars.sampleToolbar">
            <command
                  commandId="edu.ncstate.csc510.okeclipse.commands.okEclipseCommand"
                  icon="icons/sample.png"
                  id="edu.ncstate.csc510.okeclipse.toolbars.okEclipseCommand"
                  label="Listen"
                  tooltip="Listen">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.ncstate.csc510.okeclipse.OkEclipseStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="edu.ncstate.csc510.okeclipse.views.OkEclipseView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="edu.ncstate.csc510.okeclipse.views.OkEclipseView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="edu.ncstate.csc510.okeclipse.views.RecommendationView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.ncstate.csc510.okeclipse"
            name="Ok Eclipse">
      </category>
      <view
            category="edu.ncstate.csc510.okeclipse"
            class="edu.ncstate.csc510.okeclipse.views.OkEclipseView"
            icon="src/edu/ncstate/csc510/okeclipse/resources/sample@2x.png"
            id="edu.ncstate.csc510.okeclipse.views.OkEclipseView"
            inject="true"
            name="Ok Eclipse">
      </view>
      <view
            category="edu.ncstate.csc510.okeclipse"
            class="edu.ncstate.csc510.okeclipse.views.RecommendationView"
            icon="icons/sample.png"
            id="edu.ncstate.csc510.okeclipse.views.RecommendationView"
            inject="true"
            name="Recommendation View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.ncstate.csc510.okeclipse.preferences.OkEclipsePreferencePage"
            id="edu.ncstate.csc510.okeclipse.preferences.OkEclipsePreferencePage"
            name="OkEclipse Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.ncstate.csc510.okeclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
